<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TrBlazeUI" value="https://nuget.pkg.github.com/techierathore/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <TrBlazeUI>
      <add key="Username" value="GITHUB_USERNAME" />
      <add key="ClearTextPassword" value="GITHUB_TOKEN" />
    </TrBlazeUI>
  </packageSourceCredentials>
</configuration>
